@model IEnumerable<JobProject.Models.Elan>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Job Finder &mdash; Colorlib Website Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @Html.Partial("Links")

</head>
<body>
    @Html.Partial("Header")
    <div class="site-wrap">
        @Html.Partial("MainJob", Model)
    </div>
    @Html.Partial("Footer")

    @Html.Partial("Scripts")
</body>
</html>
